extends ../../layout

block page-block
	section.blog.blog-list
		.top-line
			span.valign-helper
			a.rss-link(href="#rss" data-icon=staticUrl("images/footer-icons/rss.svg"))
				span RSS
			form.search-form
				label.text
					input(type="text" name="q" value="")
					span Поиск по блогу
				label.submit
					input(type="submit" value="Поиск")
			hr
		.content-zone
			.col.col-right
				.tags
					h3 Теги:
					ul
						li.special
							a(href="#") все
						li
							a(href="#") IT
						li
							a(href="#") вакансии
						li
							a(href="#") проекты
						li
							a(href="#") акции
						li
							a(href="#") студия
						li
							a(href="#") партнёры
						li
							a(href="#") статьи
				.fb-widget
					iframe(src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FWebIzmerenie%2F2536509480954&width=250&height=300&colorscheme=light&show_faces=true&header=false&stream=false&show_border=false")
			.col.col-left
				ul.posts
					mixin postItem(picFile, date, title, tags)
						li
							img.picture(alt="" src=staticUrl("images/blog-test-pictures/" + picFile))
							time= date
							h3
								a(href="/blog-detail.html")= title
							.text
								block
							if tags
								.tags
									h4 Теги:
									ul
										for tag in tags
											li
												a(href="#")= tag
					+postItem("01.jpg", "24 февраля 2014", "Ищем SEO-специалиста", ["вакансии"])
						p Мы предлагаем:
						ul
							li.
								Работу в уютном офисе, расположенном на пр. Сельмаша, с дружным
								творческим коллективом. ПН–ПТ, возможен гибкий график;
							li Интересные, разнообразные проекты;
							li Заработную плату от 40 000 р. (оклад + %);
							li.
								Возможность повышения своего профессионального уровня, участие
								в семинарах и конференциях.
					+postItem("02.jpg", "26 февраля 2014", "Как организовать эффективный семинар")
						p.
							Перед вами стоит задача организации обучающего семинара
							или тренинга? Отлично, тогда эта обширная статья для вас!
						p.
							Мы часто организовываем обучение своих сотрудников, проводим
							мероприятия для клиентов или посещаем семинары и мероприятия,
							организованные кем-то другим. Хотим щедро поделиться своим
							накопленным опытом с вами. Мы расскажем вам о том, что нельзя
							упустить, как ничего не забыть, как привлеч участников, как
							оценить результат и о многом другом. Из статьи вы почерпнёте
							много практической полезной информации.
					+postItem("03.jpg", "03 марта 2014", "Новый законопроект коснётся владельцев сайтов")
						p.
							К первому чтению в Госдуме одобрен закон, который затронет всех
							физических и юридических лиц, регистрирующих интернет-сайт. По новому
							законопроекту сайт придётся регистрировать в Роскомнадзоре.
							Кроме того, организатор сайта обязан будет в течение полугода
							хранить все действия пользователя, в том числе тексты, звуки и изображения.
					+postItem("04.jpg", "10 февраля 2014", "Бесплатный нерекламный контент. Как это работает.")
							p.
								Сейчас на покупателей из разных источников
								обрушивается огромное количество информации.
								В результате люди закрываются и перестают её
								воспринимать. Чем больше рекламы вы используете,
								тем больше противодействие людей.
							p Какой выход?
					+postItem("05.jpg", "26 февраля 2014", "Как создавать притягательный контент")
							p.
								Притягательный контент и правильный дизайн текста могут значительно
								увеличить конверсию! Легко отличить хороший контент от посредственного,
								когда вы сталкиваетесь с ним сами, а вот научиться производить притягательный
								контент самому намного сложнее. Что же делает контент превосходным?
								Давайте разберёмся.
